* {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  text-align: center;
  left: -10px;
  top: -10px;
  width: 110%;
  height: 110vh;

  background: linear-gradient(359.53deg, #006C04 0.21%, #E8EFE6 66.07%);
}

img {
  right: 0;
  position: absolute;
  height: 150px;
  width: 105px;
  border: solid 1px black;
}

.cinzaEscuro {
  top: 50%;
  margin-top: -200px;
  width: 265px;
  height: 60px;
  left: 820px;
  position: absolute;
}

b {
  position: relative;
  top: 10px;
}

.preto {
  box-sizing: border-box;

  position: absolute;
  width: 264px;
  height: 300px;
  left: 820px;
  top: 250px;

  background: rgba(30, 30, 30, 0.87);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cinzaClaro {
  box-sizing: border-box;

  position: absolute;
  width: 600px;
  height: 365px;
  left: 200px;
  top: 185px;
  text-align: center;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cinzaEscuro {
  background-color: #b6b5b5;
}

.bnt {
  margin: 10px;
  background-color: black;
  color: snow;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.teclado2 {
  font-size: 11px;
  position: relative;
  bottom: -30px;
  left: 5px;
  color: black;
}

.branco {
  height: 40px;
  width: 75px;
}

.laranja {
  height: 40px;
  width: 75px;
  background-color: #E67401;
}

.verde {
  height: 40px;
  width: 90px;
  background-color: green;
}

.resultado {
  position: relative;
  height: 40px;
  width: 120px;
  top: 80px;
  left: 270px;
  background-color: #6DE734;
}

.input1 {
  position: absolute;
  left: 230px;
  top: 90px;
  height: 50px;
  width: 50px;

  font-size: 30px;
  font-weight: 700;
}


.input2 {
  position: absolute;
  left: 300px;
  top: 90px;
  height: 50px;
  width: 50px;

  font-size: 30px;
  font-weight: 700;
}

.numer {
  position: relative;
  top: 40px;
}